@model Ficha3_ex4.Models.UCs

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>UCs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECTS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECTS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Licenciatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Licenciatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ramo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ramo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semestre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para trás</a>
</div>
