@model Ficha8.Models.RoleViewModel

<h1>Detalhes da Role</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Nome</th>
        <td>@Model.Utilizadores</td>
    </tr>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Primeiro Nome</th>
            <th>Ultimo Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var utilizador in Model.Utilizadores)
            {
        <tr>
            <td>@utilizador.Id</td>
            <td>@utilizador.UserName</td>
            <td>@utilizador.PrimeiroNome</td>
            <td>@utilizador.UltimoNome</td>
        </tr>
            }
    </tbody>
</table>