@model FileUploadViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Start Uploading Files Here</h4>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
<form method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple required />
    <input type="text" autocomplete="off" placeholder="Enter File Description" name="description" required />
    <button type="submit" class="btn btn-primary" asp-controller="FileUpload" asp-action="UploadToFileSystem">Upload to File System</button>
    <button class="btn btn-success" type="submit" asp-controller="FileUpload" asp-action="UploadToDatabase">Upload to Database</button>
</form>
<hr />
<h4>Files on File System</h4>
@if (Model.FilesOnFileSystems.Count == 0)
{
    <caption>No Records Found</caption>
}
else
{
    <caption>List of Files on File System</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>File Type</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnFileSystems)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="FileUpload" asp-action="DownloadFileFromFileSystem" asp-route-id="@file.Id">Download</a>
                        <a type="button" class="btn btn-danger" asp-controller="FileUpload" asp-action="DeleteFileFromFileSystem" asp-route-id="@file.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<hr />
<h4>Files on Database</h4>
@if (Model.FilesOnDatabases.Count == 0)
{
    <caption>No Records Found</caption>
}
else
{
    <caption>List of Files on Database</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>File Type</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnDatabases)
            {
                <tr>
                    <th>
                        @file.Id
                        @{
                            <img class="img-thumbnail" src="data:image/png;base64,@Convert.ToBase64String(file.Data, 0, file.Data.Length)" />
                        }}


                    </th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="FileUpload" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id">Download</a>
                        <a type="button" class="btn btn-danger" asp-controller="FileUpload" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}