@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model X.PagedList.IPagedList<Ficha6.Models.Produto>

@{
    ViewData["Title"] = "Index";
}
<h1>Lista de Produtos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Produtoes" asp-action="Index" method="get">
    <b>Filtrar por Categoria</b>
    <select name="id" asp-items="ViewBag.IdCategoria"></select>
    <input type="submit" value="Filtrar" />
</form>

<h3>Existem [@ViewBag.TotalProdutos] produtos</h3>
<!---
<form asp-controller="Produtoes" asp-action="Index" method="get">
    Filtrar por categoria <td>@Html.DropDownList("Id", (IEnumerable<SelectListItem>)ViewData["IdCategoria"])</td>
    <input type="submit" value="Filtrar" />
</form>
-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().NomeProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.NomeCategoria)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProduto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProduto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProduto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Codigo para a paginação-->
<hr/>
Página @(Model.PageCount < Model.PageNumber ? '1' : Model.PageNumber)
de
@Model.PageCount
<br/>
<br/>

@Html.PagedListPager(Model, pagina => Url.Action("ProdutosPorPagina", "Produtoes", new { pagina }),
    new PagedListRenderOptions { 
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"}
    })
<!--Até aqui-->